<footer class="bg-[#424949] text-white py-6">
  <div class="py-6 px-4 bg-black w-full h-full">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Social Media Section -->
      <div>
        <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
        <div class="flex space-x-4 rtl:space-x-reverse">
          <img
            src="assests/icons/icon_facebook.png"
            alt="Facebook Logo"
            class="h-8"
          />
          <img
            src="assests/icons/instagram (1).png"
            alt="Facebook Logo"
            class="h-8"
          />
          <img
            src="assests/icons/social.png"
            alt="Facebook Logo"
            class="h-8"
          />
          <img
            src="assests/icons/twitter.png"
            alt="Facebook Logo"
            class="h-8"
          />
        </div>
      </div>

      <!-- Shop Section -->
      <div>
        <h3 class="text-lg font-semibold mb-4">Shop</h3>
        <ul class="space-y-3">
          <li><a href="#" class="hover:text-gray-400">Categories</a></li>
          <li><a href="#" class="hover:text-gray-400">Business</a></li>
          <li><a href="#" class="hover:text-gray-400">About</a></li>
          <li><a href="#" class="hover:text-gray-400">FAQs</a></li>
          <li><a href="#" class="hover:text-gray-400">Contact</a></li>
        </ul>
      </div>

      <!-- Info Section -->
      <div>
        <h3 class="text-lg font-semibold mb-4">Info</h3>
        <ul class="space-y-3">
          <li>
            <a href="#" class="hover:text-gray-400">Terms and Conditions</a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-400">Return/Exchange - T&Cs</a>
          </li>
          <li><a href="#" class="hover:text-gray-400">Privacy Policy</a></li>
          <li><a href="#" class="hover:text-gray-400">Business</a></li>
          <li><a href="#" class="hover:text-gray-400">About</a></li>
          <li><a href="#" class="hover:text-gray-400">FAQs</a></li>
          <li><a href="#" class="hover:text-gray-400">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="mx-2 text-gray-400" />
  <div class="flex justify-end items-end text-2xl mt-4 mx-4 mb-20">
    <h1>Secure Payments</h1>
  </div>
</footer>
