<div class="payment-prepaid">
    <footer class="checkout-steps">
        <div class="steps">
            <div class="current-step">
                <div class="step-name">
                    <div class="step-labels">
                        <div class="cart2">CART</div>
                        <div class="address3">ADDRESS</div>
                        <div class="payment2">PAYMENT</div>
                    </div>
                    <div class="track-highlight-wrapper">
                        <div class="track-highlight">
                            <img class="track-highlight-child" loading="lazy" alt="" src="../../../../assets/public/frame-58.svg"
                                id="frameIcon" />

                            <div class="highlight-container">
                                <div class="highlight4">
                                    <div class="track4">
                                        <div class="track5"></div>
                                    </div>
                                    <div class="highlight5"></div>
                                </div>
                                <img class="frame-child8" loading="lazy" alt="" src="../../../../assets/public/frame-58.svg"
                                    id="frameIcon1" />
                            </div>
                            <div class="track-highlight-inner">
                                <img class="frame-child9" loading="lazy" alt="" src="../../../../assets/public/frame-58.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-parent">
                <div class="payment3">PAYMENT</div>
                <div class="price-breakdown-parent">
                    <div class="price-breakdown">
                        <div class="price-details4">
                            <div class="component-697">
                                <div class="price-details5">PRICE DETAILS</div>
                                <div class="dropdown">
                                    <img class="drop-down-arrow2" loading="lazy" alt=""
                                        src="../../../../assets/public/drop-down-arrow1@2x.png" />
                                </div>
                            </div>
                            <div class="price-type">
                                <div class="total-mrp2">TOTAL MRP</div>
                                <div class="div17">₹3995</div>
                            </div>
                            <div class="price-type1">
                                <div class="discount-on-mrp2">DISCOUNT ON MRP</div>
                                <div class="div18">-₹100</div>
                            </div>
                            <div class="price-type2">
                                <div class="coupon-discount2">COUPON DISCOUNT</div>
                                <div class="div19">-₹100</div>
                            </div>
                            <div class="price-type3">
                                <div class="delivery-charges2">DELIVERY CHARGES</div>
                                <div class="div20">₹99</div>
                            </div>
                            <div class="price-details-inner"></div>
                            <div class="price-type-labels">
                                <h2 class="order-total2">ORDER TOTAL</h2>
                                <div class="div21">₹3894</div>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="frame-parent55">
                                <div class="frame-wrapper7">
                                    <div class="frame-parent56">
                                        <div class="frame-wrapper8">
                                            <img class="frame-child10" alt="" src="../../../../assets/public/frame-58.svg" />
                                        </div>
                                        <div class="method">
                                            <span class="razorpay-secure">Razorpay Secure</span>
                                            <span> (UPI, Cards, Wallets, Netbanking)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-wrapper">
                                    <div class="line-div"></div>
                                </div>
                                <div class="layer-1-parent">
                                    <img class="layer-1-icon2" loading="lazy" alt="" src="../../../../assets/public/layer-11.svg" />

                                    <div class="method1">
                                        <span>After clicking “</span>
                                        <b>Pay Now</b>
                                        <span>”, you will be redirected to </span>
                                        <span class="razorpay-secure1">Razorpay Secure</span>
                                        <span>
                                            (UPI, Cards, Wallets, Netbanking) to complete your
                                            purchase securely.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-parent57" id="frameContainer1">
                                <div class="frame-wrapper9">
                                    <img class="frame-child11" alt="" src="../../../../assets/public/frame-61.svg" />
                                </div>
                                <input class="method2" placeholder="Cash on Delivery (COD)" type="text" />
                            </div>
                        </div>
                    </div>
                    <button class="button4">
                        <div class="add-to-cart19">PAY NOW</div>
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    var hOMEText = document.getElementById("hOMEText");
    if (hOMEText) {
        hOMEText.addEventListener("click", function (e) {
            // Please sync "Store Front" to the project
        });
    }

    var sHOPText = document.getElementById("sHOPText");
    if (sHOPText) {
        sHOPText.addEventListener("click", function (e) {
            window.location.href = "./s-h-o-p.html";
        });
    }

    var aBOUTText = document.getElementById("aBOUTText");
    if (aBOUTText) {
        aBOUTText.addEventListener("click", function (e) {
            window.location.href = "./a-b-o-u-t.html";
        });
    }

    var frameIcon = document.getElementById("frameIcon");
    if (frameIcon) {
        frameIcon.addEventListener("click", function (e) {
            window.location.href = "./c-a-r-t-e-x-t-e-n-d-e-d.html";
        });
    }

    var frameIcon1 = document.getElementById("frameIcon1");
    if (frameIcon1) {
        frameIcon1.addEventListener("click", function (e) {
            window.location.href = "./a-d-d-r-e-s-s.html";
        });
    }

    var frameContainer1 = document.getElementById("frameContainer1");
    if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
            // Please sync "PAYMENT - COD" to the project
        });
    }
</script>