<div class="cart-extended-1">
    <section class="cart-extended-1-inner">
        <div class="frame-parent">
            <div class="frame-container">
                <div class="frame-group">
                    <div class="cart-parent">
                        <div class="cart">CART</div>
                        <div class="address">ADDRESS</div>
                        <div class="payment">PAYMENT</div>
                    </div>
                    <div class="frame-div">
                        <div class="frame-parent1">
                            <img class="frame-child" loading="lazy" alt="" src="../../../../../../assets/public/frame-58.svg" />

                            <div class="highlight-parent">
                                <div class="highlight">
                                    <div class="highlight-wrapper">
                                        <div class="highlight1"></div>
                                    </div>
                                    <div class="track">
                                        <div class="track1"></div>
                                    </div>
                                </div>
                                <img class="frame-item" loading="lazy" alt="" src="../../../../../../assets/public/frame-64.svg" />
                            </div>
                            <div class="frame-wrapper1">
                                <img class="frame-inner" loading="lazy" alt="" src="../../../../../../assets/public/frame-64.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-summary-parent">
                <h3 class="order-summary">Order Summary</h3>
                <div class="frame-parent2">
                    <div class="instance-parent">
                        <div class="product-hover-parent">
                            <div class="product-hover">
                                <img class="product-hover-child" alt="" src="../../../../../../assets/public/rectangle-10@2x.png" />

                                <img class="basic-women-oversized-t-shirt" loading="lazy" alt=""
                                    src="../../../../../../assets/public/basic-women-oversized-tshirt-3@2x.png" />
                            </div>
                            <div class="frame-parent3">
                                <div class="name-of-this-printed-t-shirt-p-parent">
                                    <h3 class="name-of-this">
                                        Name of this Printed T-Shirt Placeholder text for next
                                        line
                                    </h3>
                                    <div class="frame-parent4">
                                        <div class="size-parent">
                                            <div class="size">SIZE</div>
                                            <div class="xs-parent">
                                                <div class="xs">XS</div>
                                                <img class="navigationarrow-drop-down-24p-icon" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                        <div class="quantity-parent">
                                            <div class="quantity">QUANTITY</div>
                                            <div class="parent">
                                                <div class="div">10</div>
                                                <img class="navigationarrow-drop-down-24p-icon1" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div1">₹799</div>
                            </div>
                        </div>
                        <div class="product-hover-group">
                            <div class="product-hover1">
                                <img class="product-hover-item" alt="" src="../../../../../../assets/public/rectangle-10-1@2x.png" />

                                <img class="basic-women-oversized-t-shirt1" alt=""
                                    src="../../../../../../assets/public/basic-women-oversized-tshirt-3-1@2x.png" />
                            </div>
                            <div class="frame-parent5">
                                <div class="name-of-this-printed-t-shirt-p-group">
                                    <h3 class="name-of-this1">
                                        Name of this Printed T-Shirt Placeholder text for next
                                        line
                                    </h3>
                                    <div class="frame-parent6">
                                        <div class="size-group">
                                            <div class="size1">SIZE</div>
                                            <div class="xs-group">
                                                <div class="xs1">XS</div>
                                                <img class="navigationarrow-drop-down-24p-icon2" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                        <div class="quantity-group">
                                            <div class="quantity1">QUANTITY</div>
                                            <div class="group">
                                                <div class="div2">10</div>
                                                <img class="navigationarrow-drop-down-24p-icon3" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div3">₹799</div>
                            </div>
                        </div>
                        <div class="product-hover-container">
                            <div class="product-hover2">
                                <img class="product-hover-inner" alt="" src="../../../../../../assets/public/rectangle-10-2@2x.png" />

                                <img class="basic-women-oversized-t-shirt2" alt=""
                                    src="../../../../../../assets/public/basic-women-oversized-tshirt-3-1@2x.png" />
                            </div>
                            <div class="frame-parent7">
                                <div class="name-of-this-printed-t-shirt-p-container">
                                    <h3 class="name-of-this2">
                                        Name of this Printed T-Shirt Placeholder text for next
                                        line
                                    </h3>
                                    <div class="frame-parent8">
                                        <div class="size-container">
                                            <div class="size2">SIZE</div>
                                            <div class="xs-container">
                                                <div class="xs2">XS</div>
                                                <img class="navigationarrow-drop-down-24p-icon4" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                        <div class="quantity-container">
                                            <div class="quantity2">QUANTITY</div>
                                            <div class="container">
                                                <div class="div4">10</div>
                                                <img class="navigationarrow-drop-down-24p-icon5" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div5">₹799</div>
                            </div>
                        </div>
                        <div class="product-hover-parent1">
                            <div class="product-hover3">
                                <img class="rectangle-icon" alt="" src="../../../../../../assets/public/rectangle-10-3@2x.png" />

                                <img class="basic-women-oversized-t-shirt3" alt=""
                                    src="../../../../../../assets/public/basic-women-oversized-tshirt-3-3@2x.png" />
                            </div>
                            <div class="frame-parent9">
                                <div class="name-of-this-printed-t-shirt-p-parent1">
                                    <h3 class="name-of-this3">
                                        Name of this Printed T-Shirt Placeholder text for next
                                        line
                                    </h3>
                                    <div class="frame-parent10">
                                        <div class="size-parent1">
                                            <div class="size3">SIZE</div>
                                            <div class="xs-parent1">
                                                <div class="xs3">XS</div>
                                                <img class="navigationarrow-drop-down-24p-icon6" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                        <div class="quantity-parent1">
                                            <div class="quantity3">QUANTITY</div>
                                            <div class="parent1">
                                                <div class="div6">10</div>
                                                <img class="navigationarrow-drop-down-24p-icon7" alt=""
                                                    src="../../../../../../assets/public/navigationarrow-drop-down-24px.svg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div7">₹799</div>
                            </div>
                        </div>
                    </div>
                    <div class="price-details-parent">
                        <div class="price-details">
                            <div class="price-details1">PRICE DETAILS</div>
                            <div class="frame-parent11">
                                <div class="total-mrp-parent">
                                    <div class="total-mrp">TOTAL MRP</div>
                                    <div class="discount-on-mrp">DISCOUNT ON MRP</div>
                                    <div class="coupon-discount">COUPON DISCOUNT</div>
                                    <div class="delivery-charges">DELIVERY CHARGES</div>
                                </div>
                                <div class="parent2">
                                    <div class="div8">₹3995</div>
                                    <div class="div9">-₹100</div>
                                    <div class="apply-coupon">APPLY COUPON</div>
                                    <i class="calculated-at-next">*calculated at next step</i>
                                </div>
                            </div>
                            <div class="price-details-child"></div>
                            <div class="order-total-parent">
                                <h3 class="order-total">ORDER TOTAL</h3>
                                <div class="div10">₹3895</div>
                            </div>
                        </div>
                        <button class="button">
                            <a class="add-to-cart" routerLink="/address">PROCEED TO CHECKOUT</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="cARTPopup" class="popup-overlay" style="display: none">
    <div class="cart3">
        <div class="frame-parent71">
            <div class="nav-bar-parent">
                <div class="nav-bar10">
                    <div class="component-688">
                        <input class="your-cart" placeholder="YOUR CART" type="text" />

                        <div class="drop-down-arrow-frame">
                            <img class="drop-down-arrow3" alt="" src="../../../../../../assets/public/drop-down-arrow2@2x.png" />
                        </div>
                    </div>
                </div>
                <div class="frame-wrapper14">
                    <div class="cart-item-parent">
                        <div class="cart-item">
                            <div class="product-hover-parent3">
                                <div class="product-hover4">
                                    <img class="product-hover-child1" alt="" src="../../../../../../assets/public/rectangle-101@2x.png" />

                                    <img class="basic-women-oversized-t-shirt18" loading="lazy" alt=""
                                        src="../../../../../../assets/public/basic-women-oversized-tshirt-31@2x.png" />
                                </div>
                                <div class="frame-parent72">
                                    <div class="frame-wrapper15">
                                        <div class="wrapper14">
                                            <div class="div80">-</div>
                                        </div>
                                    </div>
                                    <div class="wrapper15">
                                        <div class="div81">1</div>
                                    </div>
                                    <div class="frame-wrapper16">
                                        <div class="wrapper16">
                                            <div class="div82">+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-parent73">
                                <div class="name-of-this-printed-t-shirt-parent">
                                    <div class="name-of-this4">
                                        Name of this Printed T-Shirt
                                    </div>
                                    <div class="frame-parent74">
                                        <div class="size-parent3">
                                            <div class="size12">SIZE :</div>
                                            <div class="xs-wrapper">
                                                <div class="xs10">XS</div>
                                            </div>
                                        </div>
                                        <div class="div83">₹799</div>
                                    </div>
                                </div>
                                <img class="trashhhh-icon" loading="lazy" alt="" src="../../../../../../assets/public/trashhhh.svg" />
                            </div>
                        </div>
                        <div class="cart-item1">
                            <div class="frame-parent75">
                                <div class="product-hover-parent4">
                                    <div class="product-hover5">
                                        <img class="product-hover-child2" alt=""
                                            src="../../../../../../assets/public/rectangle-10-11@2x.png" />

                                        <img class="basic-women-oversized-t-shirt19" loading="lazy" alt=""
                                            src="../../../../../../assets/public/basic-women-oversized-tshirt-3-11@2x.png" />
                                    </div>
                                    <div class="frame-parent76">
                                        <div class="frame-wrapper17">
                                            <div class="wrapper17">
                                                <div class="div84">-</div>
                                            </div>
                                        </div>
                                        <div class="wrapper18">
                                            <div class="div85">1</div>
                                        </div>
                                        <div class="frame-wrapper18">
                                            <div class="wrapper19">
                                                <div class="div86">+</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="name-of-this-printed-t-shirt-group">
                                    <div class="name-of-this5">
                                        Name of this Printed T-Shirt
                                    </div>
                                    <div class="size-parent4">
                                        <div class="size13">SIZE :</div>
                                        <div class="xs-frame">
                                            <div class="xs11">M</div>
                                        </div>
                                    </div>
                                    <div class="div87">₹799</div>
                                </div>
                            </div>
                            <img class="trashhhh-icon1" alt="" src="../../../../../../assets/public/trashhhh.svg" />
                        </div>
                        <div class="cart-item2">
                            <div class="product-hover-parent5">
                                <div class="product-hover6">
                                    <img class="product-hover-child3" alt="" src="../../../../../../assets/public/rectangle-10-21@2x.png" />

                                    <img class="basic-women-oversized-t-shirt20" loading="lazy" alt=""
                                        src="../../../../../../assets/public/basic-women-oversized-tshirt-3-2@2x.png" />
                                </div>
                                <div class="frame-parent77">
                                    <div class="frame-wrapper19">
                                        <div class="wrapper20">
                                            <div class="div88">-</div>
                                        </div>
                                    </div>
                                    <div class="wrapper21">
                                        <div class="div89">1</div>
                                    </div>
                                    <div class="frame-wrapper20">
                                        <div class="wrapper22">
                                            <div class="div90">+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-parent78">
                                <div class="name-of-this-printed-t-shirt-container">
                                    <div class="name-of-this6">
                                        Name of this Printed T-Shirt
                                    </div>
                                    <div class="frame-parent79">
                                        <div class="size-parent5">
                                            <div class="size14">SIZE :</div>
                                            <div class="xs-wrapper1">
                                                <div class="xs12">L</div>
                                            </div>
                                        </div>
                                        <div class="div91">₹799</div>
                                    </div>
                                </div>
                                <img class="trashhhh-icon2" alt="" src="../../../../../../assets/public/trashhhh.svg" />
                            </div>
                        </div>
                        <div class="cart-item3">
                            <div class="product-hover-parent6">
                                <div class="product-hover7">
                                    <img class="product-hover-child4" alt="" src="../../../../../../assets/public/rectangle-10-21@2x.png" />

                                    <img class="basic-women-oversized-t-shirt21" alt=""
                                        src="../../../../../../assets/public/basic-women-oversized-tshirt-3-2@2x.png" />
                                </div>
                                <div class="frame-parent80">
                                    <div class="frame-wrapper21">
                                        <div class="wrapper23">
                                            <div class="div92">-</div>
                                        </div>
                                    </div>
                                    <div class="wrapper24">
                                        <div class="div93">1</div>
                                    </div>
                                    <div class="frame-wrapper22">
                                        <div class="wrapper25">
                                            <div class="div94">+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-parent81">
                                <div class="name-of-this-printed-t-shirt-parent1">
                                    <div class="name-of-this7">
                                        Name of this Printed T-Shirt
                                    </div>
                                    <div class="frame-parent82">
                                        <div class="size-parent6">
                                            <div class="size15">SIZE :</div>
                                            <div class="xs-wrapper2">
                                                <div class="xs13">L</div>
                                            </div>
                                        </div>
                                        <div class="div95">₹799</div>
                                    </div>
                                </div>
                                <img class="trashhhh-icon3" alt="" src="../../../../../../assets/public/trashhhh.svg" />
                            </div>
                        </div>
                        <div class="cart-item4">
                            <div class="product-hover-parent7">
                                <div class="product-hover8">
                                    <img class="product-hover-child5" alt="" src="../../../../../../assets/public/rectangle-10-21@2x.png" />

                                    <img class="basic-women-oversized-t-shirt22" alt=""
                                        src="../../../../../../assets/public/basic-women-oversized-tshirt-3-2@2x.png" />
                                </div>
                                <div class="frame-parent83">
                                    <div class="frame-wrapper23">
                                        <div class="wrapper26">
                                            <div class="div96">-</div>
                                        </div>
                                    </div>
                                    <div class="wrapper27">
                                        <div class="div97">1</div>
                                    </div>
                                    <div class="frame-wrapper24">
                                        <div class="wrapper28">
                                            <div class="div98">+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-parent84">
                                <div class="name-of-this-printed-t-shirt-parent2">
                                    <div class="name-of-this8">
                                        Name of this Printed T-Shirt
                                    </div>
                                    <div class="frame-parent85">
                                        <div class="size-parent7">
                                            <div class="size16">SIZE :</div>
                                            <div class="xs-wrapper3">
                                                <div class="xs14">L</div>
                                            </div>
                                        </div>
                                        <div class="div99">₹799</div>
                                    </div>
                                </div>
                                <img class="trashhhh-icon4" alt="" src="../../../../../../assets/public/trashhhh.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-parent86">
                <div class="subtotal-parent">
                    <div class="subtotal">SUBTOTAL :</div>
                    <div class="div100">₹3995</div>
                </div>
                <button class="button7">
                    <div class="add-to-cart28">VIEW CART</div>
                </button>
                <button class="button8">
                    <div class="add-to-cart29">CHECKOUT</div>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var hOMEText = document.getElementById("hOMEText");
    if (hOMEText) {
        hOMEText.addEventListener("click", function (e) {
            // Please sync "Store Front" to the project
        });
    }

    var sHOPText = document.getElementById("sHOPText");
    if (sHOPText) {
        sHOPText.addEventListener("click", function (e) {
            window.location.href = "./s-h-o-p.html";
        });
    }

    var aBOUTText = document.getElementById("aBOUTText");
    if (aBOUTText) {
        aBOUTText.addEventListener("click", function (e) {
            window.location.href = "./a-b-o-u-t.html";
        });
    }

    var bagIcon = document.getElementById("bagIcon");
    if (bagIcon) {
        bagIcon.addEventListener("click", function () {
            var popup = document.getElementById("cARTPopup");
            if (!popup) return;
            var popupStyle = popup.style;
            if (popupStyle) {
                popupStyle.display = "flex";
                popupStyle.zIndex = 100;
                popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
                popupStyle.alignItems = "center";
                popupStyle.justifyContent = "center";
            }
            popup.setAttribute("closable", "");

            var onClick =
                popup.onClick ||
                function (e) {
                    if (e.target === popup && popup.hasAttribute("closable")) {
                        popupStyle.display = "none";
                    }
                };
            popup.addEventListener("click", onClick);
        });
    }
</script>