input {
    border: 1px solid #ffffff61;
    background-color: transparent;
    padding: 10px;
}

/* Firefox */
::placeholder {
    @apply text-gray-1100;
}

/* Edge 12 -18 */
::-ms-input-placeholder {
    @apply text-gray-1100;
}