<div
  class="bg-black w-full relative overflow-y-auto flex flex-col items-start justify-start pt-0 px-0 pb-8 box-border gap-[52px] bg-cover bg-no-repeat bg-[top] leading-[normal] tracking-[normal] text-left text-base text-gray-1100 font-poppins mq750:gap-[26px]">

  <section
    class="self-stretch flex flex-row items-start justify-center py-0 px-5 box-border max-w-full text-center text-xl text-steelblue-200 font-poppins">
    <div
      class="w-[1128px] flex flex-col items-start justify-start gap-[65px] max-w-full mq750:gap-[16px] mq1125:gap-[32px]">
      <div class="self-stretch flex flex-row items-start justify-center py-0 px-5 box-border max-w-full">
        <div class="w-[552px] flex flex-col items-start justify-start gap-[12px] max-w-full">
          <div class="self-stretch flex flex-row flex-wrap items-start justify-start gap-[24px]">
            <div class="flex-1 relative inline-block min-w-[70px] mq450:text-base">
              CART
            </div>
            <div class="flex-1 relative inline-block min-w-[70px] mq450:text-base">
              ADDRESS
            </div>
            <div class="flex-1 relative text-darkgray-100 inline-block min-w-[70px] mq450:text-base">
              PAYMENT
            </div>
          </div>
          <div
            class="self-stretch flex flex-row items-start justify-start py-0 px-[74px] box-border max-w-full mq750:pl-[37px] mq750:pr-[37px] mq750:box-border">
            <div class="flex-1 flex flex-row items-start justify-between max-w-full gap-[20px] mq450:flex-wrap">
              <img class="h-5 w-5 relative cursor-pointer z-[2]" loading="lazy" alt=""
                src="../../../../assets/public/frame-58.svg" id="frameIcon" />

              <div class="flex flex-row items-start justify-start relative">
                <div class="h-[7px] w-[394px] absolute !m-[0] bottom-[6px] left-[calc(50%_-_197px)] z-[1]">
                  <div class="absolute top-[0px] left-[15px] rounded-12xs bg-darkgray-100 w-[374px] h-[7px]">
                    <div
                      class="absolute w-full top-[calc(50%_-_0.5px)] right-[0%] left-[0%] rounded-12xs bg-darkgray-100 h-0.5 hidden">
                    </div>
                  </div>
                  <div
                    class="absolute top-[calc(50%_+_1.5px)] left-[197px] rounded-12xs bg-steelblue-200 w-[197px] h-0.5 [transform:_rotate(180deg)] [transform-origin:0_0]">
                  </div>
                </div>
                <img class="h-5 w-5 relative z-[2]" loading="lazy" alt=""
                  src="../../../../assets/public/frame-58.svg" />
              </div>
              <div class="flex flex-col items-start justify-start pt-px px-0 pb-0">
                <img class="w-5 h-5 relative z-[2]" loading="lazy" alt=""
                  src="../../../../assets/public/frame-64.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="self-stretch flex flex-col items-start justify-start gap-[16px] max-w-full text-left text-5xl text-darkgray-100">
        <div class="relative font-semibold whitespace-pre-wrap mq450:text-lgi">
          CONTACT DETAILS
        </div>
        <form class="m-0 self-stretch flex flex-row flex-wrap items-start justify-start gap-[24px] max-w-full">
          <div
            class="flex-1 flex flex-col items-start justify-start gap-[12px] min-w-[359px] max-w-full mq450:min-w-full">
            <div class="self-stretch h-14 relative">
              <input
                class="w-full h-full top-[16px] left-[16px] text-base tracking-[0.15px] leading-[24px] font-poppins text-gray-1100 text-left inline-block z-[1]"
                placeholder="Mobile Number " type="text">
            </div>
            <div class="self-stretch flex flex-col items-start justify-start gap-[36px] mq750:gap-[18px]">
              <div class="self-stretch h-14 relative">
                <input
                  class="w-full h-full top-[16px] left-[16px] text-base tracking-[0.15px] leading-[24px] font-poppins text-gray-1100 text-left inline-block z-[1]"
                  placeholder="Email ID" type="text">
              </div>
              <div class="self-stretch flex flex-col items-start justify-start gap-[16px]">
                <div
                  class="relative text-5xl font-semibold font-poppins text-darkgray-100 whitespace-pre-wrap text-left mq450:text-lgi">
                  DELIVERY DETAILS
                </div>
                <div class="self-stretch flex flex-col items-start justify-start gap-[12px]">
                  <div class="self-stretch h-14 relative">
                    <input
                      class="w-full h-full top-[16px] left-[16px] text-base tracking-[0.15px] leading-[24px] font-poppins text-gray-1100 text-left inline-block z-[1]"
                      placeholder="Name" type="text">
                  </div>
                  <div class="self-stretch h-[100px] relative">
                    <input
                      class="w-full h-full top-[16px] left-[16px] text-base tracking-[0.15px] leading-[24px] font-poppins text-gray-1100 text-left inline-block z-[1]"
                      placeholder="Address" type="text">
                  </div>
                  <div class="self-stretch flex flex-row items-start justify-start gap-[12px] mq750:flex-wrap">
                    <div class="h-14 flex-1 relative min-w-[175px]">
                      <input
                        class="w-full h-full top-[16px] left-[16px] text-base tracking-[0.15px] leading-[24px] font-poppins text-gray-1100 text-left inline-block z-[1]"
                        placeholder="City" type="text">
                    </div>
                    <div class="h-14 flex-1 relative min-w-[175px]">
                      <input
                        class="w-full h-full top-[16px] left-[16px] text-base tracking-[0.15px] leading-[24px] font-poppins text-gray-1100 text-left inline-block z-[1]"
                        placeholder="State" type="text">
                    </div>
                  </div>
                  <div class="self-stretch flex flex-row items-start justify-start gap-[12px] mq750:flex-wrap">
                    <div class="h-14 flex-1 relative min-w-[175px]">
                      <input
                        class="w-full h-full top-[16px] left-[16px] text-base tracking-[0.15px] leading-[24px] font-poppins text-gray-1100 text-left inline-block z-[1]"
                        placeholder="Pincode" type="text">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-1 flex flex-col items-start justify-start gap-[26px] min-w-[359px] max-w-full mq450:min-w-full">
            <div
              class="self-stretch rounded-xl bg-black overflow-hidden flex flex-col items-start justify-start py-[22px] pr-[21px] pl-6 gap-[9.7px] border-[1px] border-solid border-dimgray-300">
              <div
                class="self-stretch relative text-xl font-medium font-poppins text-lightgray-300 text-left mq450:text-base">
                PRICE DETAILS
              </div>
              <div class="self-stretch flex flex-row items-start justify-between gap-[20px] mq450:flex-wrap">
                <div class="flex flex-col items-start justify-start gap-[10px]">
                  <div
                    class="relative text-xl leading-[24px] font-poppins text-dimgray-300 text-left inline-block min-w-[106px] mq450:text-base mq450:leading-[19px]">
                    TOTAL MRP
                  </div>
                  <div
                    class="relative text-xl leading-[24px] font-poppins text-dimgray-300 text-left mq450:text-base mq450:leading-[19px]">
                    DISCOUNT ON MRP
                  </div>
                  <div
                    class="relative text-xl leading-[24px] font-poppins text-dimgray-300 text-left mq450:text-base mq450:leading-[19px]">
                    COUPON DISCOUNT
                  </div>
                  <div
                    class="relative text-xl leading-[24px] font-poppins text-dimgray-300 text-left mq450:text-base mq450:leading-[19px]">
                    DELIVERY CHARGES
                  </div>
                </div>
                <div class="flex flex-col items-end justify-start gap-[10px]">
                  <div
                    class="relative text-xl leading-[24px] font-medium font-poppins text-darkgray-100 text-right inline-block min-w-[63px] whitespace-nowrap mq450:text-base mq450:leading-[19px]">
                    ₹3995
                  </div>
                  <div
                    class="relative text-xl leading-[24px] font-medium font-poppins text-darkseagreen text-right inline-block min-w-[57px] mq450:text-base mq450:leading-[19px]">
                    -₹100
                  </div>
                  <div
                    class="relative text-xl leading-[24px] font-medium font-poppins text-darkseagreen text-right inline-block min-w-[57px] mq450:text-base mq450:leading-[19px]">
                    -₹100
                  </div>
                  <div
                    class="relative text-xl leading-[24px] font-medium font-poppins text-darkgray-100 text-right inline-block min-w-[38px] whitespace-nowrap mq450:text-base mq450:leading-[19px]">
                    ₹99
                  </div>
                </div>
              </div>
              <div class="self-stretch h-px relative box-border border-t-[1px] border-solid border-dimgray-600"></div>
              <div
                class="self-stretch flex flex-row items-start justify-between pt-2 px-0 pb-0 gap-[20px] mq450:flex-wrap">
                <div class="relative text-5xl font-poppins text-darkgray-100 text-left mq450:text-lgi">
                  ORDER TOTAL
                </div>
                <div
                  class="relative text-5xl font-semibold font-poppins text-darkgray-100 text-left inline-block min-w-[76px] whitespace-nowrap mq450:text-lgi">
                  ₹3894
                </div>
              </div>
            </div>
            <button
              class="cursor-pointer [border:none] py-[13px] px-5 bg-steelblue-200 self-stretch rounded-37xl overflow-hidden flex flex-row items-start justify-center hover:bg-steelblue-100 mq450:gap-[16px]">
              <a class="relative no-underline text-xl font-medium font-poppins text-lightgray-300 text-center mq450:text-base"
                routerLink="/payment">PROCEED TO PAYMENT</a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>